body {
    background-color: red;
}

// @import "leaflet.css";

.map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

// @import "node_modules/material-ui/src/less/scaffolding.less";
// @import "node_modules/material-ui/src/less/components.less";
// 
// pre.data {
//     background-color: #ddd;
//     dispay: block;
//     width: 100%;
//     color: green;
//     padding: 1em;
// }
// 
// .header {
//     float: left;
// }
// 
// .FAILED {
//     background-color: red;
// }
// 
// .UNDEFINED {
//     background-color: orange;
// }
// 
// .OK {
//     background-color: green;
// }
// 
// 
// 
// .staffel {
//     .clearfix();
//     float: left;
//     margin: 1em;
// }
// 
// .top {
//     background: red;
// }
// 
// .left-nav {
//     height: 100%;
//     width: 256px;
//     float: left;
//     // display: none;
// }
// 
// .main-content {
//     float: left;
//     margin: 1em;
// }
// 
// .my-paper {
//     padding: 1em;
// }
