
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #2E2E2E;
    stroke-width: 2px;

}

.textClass {
    font-size: 14px;
    stroke: #FFFFFF;
}

.textClassBlack {
    stroke: #323232;
    font-size: 14px;
}